{% extends 'session/base.html' %}
{% load url from future %}

{% block pagetitle %}Login{% endblock %}

{% block navbar %}
            <li><a href="/">Home</a></li>
            <li><a href="/sessions/submit">Submit Session</a></li>
            <li><a href="/sessions/browse">Browse Sessions</a></li>
            <li><a href="http://festival-of-learning.media.mit.edu/">About</a></li>
{% endblock %}

{% block scripts %}

    <script src="/static/js/bootstrap-twipsy.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-alerts.js"></script>
          <script>
            $(function () {
              $("a[rel=twipsy]").twipsy({
                live: true
              })
            })
          </script>

{% endblock %}

{% block banner %}
<div class="alert-message notice fade in" data-alert="alert">
<a class="close" href="#">&times;</a>
<p><strong>Note:</strong> Your email address will be visibile to the facilitators of the sessions you sign up for.</p>
</div>
{% endblock %}

{% block primary %}

<div class="row">
 <div class="span15">


  <h3>Create an account</h3>
  
    {% if form.non_field_errors %}
    <div class="alert-message error fade in" data-alert="alert">
    <a class="close" href="#">&times;</a>
    <p>{{ form.non_field_errors }}</p>
    </div>
    {% endif %}
    
    <form method="POST" action=""  class="form-stacked">{% csrf_token %}

     <fieldset>
        {{ form.as_p }}

          <div class="actions">
            <input type="submit" class="btn primary" value="Submit">&nbsp;<button type="reset" class="btn">Cancel</button>
          </div>

     </fieldset>
    </form>


 </div>
</div>


{% endblock %}

